<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuchen.bigdate.rs.service.event.dao.GsvWeaponDao">
  <resultMap id="BaseResultMap" type="cn.yuchen.bigdate.rs.service.event.pojo.po.GsvWeaponPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="weapon_en_name" jdbcType="VARCHAR" property="weaponEnName" />
    <result column="weapon_zh_name" jdbcType="VARCHAR" property="weaponZhName" />
    <result column="weapon_desc" jdbcType="VARCHAR" property="weaponDesc" />
    <result column="weapon_remark" jdbcType="VARCHAR" property="weaponRemark" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, weapon_en_name, weapon_zh_name, weapon_desc, weapon_remark, level_id, deleted, 
    operator, insert_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gsv_weapon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gsv_weapon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.GsvWeaponPo">
    insert into gsv_weapon (id, weapon_en_name, weapon_zh_name, 
      weapon_desc, weapon_remark, level_id, 
      deleted, operator, insert_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{weaponEnName,jdbcType=VARCHAR}, #{weaponZhName,jdbcType=VARCHAR}, 
      #{weaponDesc,jdbcType=VARCHAR}, #{weaponRemark,jdbcType=VARCHAR}, #{levelId,jdbcType=INTEGER}, 
      #{deleted,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.GsvWeaponPo">
    insert into gsv_weapon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="weaponEnName != null">
        weapon_en_name,
      </if>
      <if test="weaponZhName != null">
        weapon_zh_name,
      </if>
      <if test="weaponDesc != null">
        weapon_desc,
      </if>
      <if test="weaponRemark != null">
        weapon_remark,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="weaponEnName != null">
        #{weaponEnName,jdbcType=VARCHAR},
      </if>
      <if test="weaponZhName != null">
        #{weaponZhName,jdbcType=VARCHAR},
      </if>
      <if test="weaponDesc != null">
        #{weaponDesc,jdbcType=VARCHAR},
      </if>
      <if test="weaponRemark != null">
        #{weaponRemark,jdbcType=VARCHAR},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.GsvWeaponPo">
    update gsv_weapon
    <set>
      <if test="weaponEnName != null">
        weapon_en_name = #{weaponEnName,jdbcType=VARCHAR},
      </if>
      <if test="weaponZhName != null">
        weapon_zh_name = #{weaponZhName,jdbcType=VARCHAR},
      </if>
      <if test="weaponDesc != null">
        weapon_desc = #{weaponDesc,jdbcType=VARCHAR},
      </if>
      <if test="weaponRemark != null">
        weapon_remark = #{weaponRemark,jdbcType=VARCHAR},
      </if>
      <if test="levelId != null">
        level_id = #{levelId,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.GsvWeaponPo">
    update gsv_weapon
    set weapon_en_name = #{weaponEnName,jdbcType=VARCHAR},
      weapon_zh_name = #{weaponZhName,jdbcType=VARCHAR},
      weapon_desc = #{weaponDesc,jdbcType=VARCHAR},
      weapon_remark = #{weaponRemark,jdbcType=VARCHAR},
      level_id = #{levelId,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>