<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuchen.bigdate.rs.service.event.dao.PoliticsDepartmentDao">
  <resultMap id="BaseResultMap" type="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsDepartmentPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="countryFullName" jdbcType="VARCHAR" property="countryfullname" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="PageResultMap" type="cn.yuchen.bigdate.rs.service.event.pojo.vo.PoliticsReligionVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="countryFullName" jdbcType="VARCHAR" property="countryfullname" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cn_name, en_name, country_id, level_id, keyword, deleted, operator, insert_time, 
    update_time
  </sql>

  <select id="selectByPage" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.webpage.PoliticsDepartmentPage" resultMap="PageResultMap">
    select
    p.id, p.cn_name, p.en_name, p.country_id, p.level_id,
    p.keyword, h.countryFullName,
    p.deleted, p.operator, p.insert_time, p.update_time
    from politics_department as p , hs_country_new as h
    <where>
      deleted = 0
      AND country_id = h.number
      <if test="cnName !=null and cnName !='' ">
        AND `cn_name` LIKE CONCAT('%',#{cnName},'%')
      </if>
      <if test="enName !=null and enName !='' ">
        AND `en_name` LIKE CONCAT('%',#{enName},'%')
      </if>
      <if test="countryId != null">
        AND country_id = #{countryId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    p.id, p.cn_name, p.en_name, p.country_id, p.level_id,
    p.keyword, h.countryFullName,
    p.deleted, p.operator, p.insert_time, p.update_time
    from politics_department as p , hs_country_new as h
    where
    p.id = #{id,jdbcType=INTEGER}
    and
    p.deleted = 0
    and
    p.country_id = h.number

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update politics_department
    set
    deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsDepartmentPo">
    insert into politics_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=INTEGER},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsDepartmentPo">
    update politics_department
    <set>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null">
        level_id = #{levelId,jdbcType=INTEGER},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>