<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuchen.bigdate.rs.service.event.dao.PoliticsPersonDao">
  <resultMap id="BaseResultMap" type="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsPersonPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="mini_cn_name" jdbcType="VARCHAR" property="miniCnName" />
    <result column="mini_en_name" jdbcType="VARCHAR" property="miniEnName" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="countryFullName" jdbcType="VARCHAR" property="countryfullname" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="partygroup_id" jdbcType="INTEGER" property="partygroupId" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="area1" jdbcType="INTEGER" property="area1" />
    <result column="area2" jdbcType="INTEGER" property="area2" />
    <result column="area3" jdbcType="INTEGER" property="area3" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="Page" type="cn.yuchen.bigdate.rs.service.event.pojo.vo.PoliticsPersonVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="mini_cn_name" jdbcType="VARCHAR" property="miniCnName" />
    <result column="mini_en_name" jdbcType="VARCHAR" property="miniEnName" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="countryFullName" jdbcType="VARCHAR" property="countryfullname" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="partygroup_id" jdbcType="INTEGER" property="partygroupId" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="area1" jdbcType="INTEGER" property="area1" />
    <result column="area2" jdbcType="INTEGER" property="area2" />
    <result column="area3" jdbcType="INTEGER" property="area3" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, cn_name, en_name, mini_cn_name, mini_en_name, country_id, level_id, partygroup_id, 
    resume, area1, area2, area3, keyword, deleted, operator, insert_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    p.id, p.cn_name, p.en_name, p.mini_cn_name,p.mini_en_name, p.country_id, p.level_id,p.partygroup_id
    p.resume,p.area1,p.area2,p.area3,p.keyword,  h.countryFullName,
    p.deleted, p.operator, p.insert_time, p.update_time
    from politics_person as p , hs_country_new as h
    where
    p.id = #{id,jdbcType=INTEGER}
    and
    p.deleted = 0
    and
    p.country_id = h.number
  </select>

  <select id="selectByPage" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.webpage.PoliticsPersonPage" resultMap="Page">
    select
    p.id, p.cn_name, p.en_name, p.mini_cn_name,p.mini_en_name, p.country_id,
    p.level_id,p.partygroup_id,p.resume, p.area1, p.area2, p.area3, p.keyword,
    p.deleted, p.operator, p.insert_time, p.update_time,
    h.countryFullName,
    pp.cn_name as position_name
    from politics_person as p , hs_country_new as h,politics_position as pp,politics_person_position as ppp
    <where>
      p.deleted = 0
      AND p.country_id = h.number
      AND p.id=ppp.person_id
      AND pp.id = ppp.position_id
      <if test="countryId !=null and countryId != 0 ">
        AND p.country_id = #{countryId}
      </if>
      <if test="cnName !=null and cnName !='' ">
        AND p.cn_name LIKE CONCAT('%',#{cnName},'%')
      </if>
      <if test="enName !=null and enName !='' ">
        AND p.en_name LIKE CONCAT('%',#{enName},'%')
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update politics_person
    set
    deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsPersonPo">
    insert into politics_person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="miniCnName != null">
        mini_cn_name,
      </if>
      <if test="miniEnName != null">
        mini_en_name,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="partygroupId != null">
        partygroup_id,
      </if>
      <if test="resume != null">
        resume,
      </if>
      <if test="area1 != null">
        area1,
      </if>
      <if test="area2 != null">
        area2,
      </if>
      <if test="area3 != null">
        area3,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="miniCnName != null">
        #{miniCnName,jdbcType=VARCHAR},
      </if>
      <if test="miniEnName != null">
        #{miniEnName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=INTEGER},
      </if>
      <if test="partygroupId != null">
        #{partygroupId,jdbcType=INTEGER},
      </if>
      <if test="resume != null">
        #{resume,jdbcType=VARCHAR},
      </if>
      <if test="area1 != null">
        #{area1,jdbcType=INTEGER},
      </if>
      <if test="area2 != null">
        #{area2,jdbcType=INTEGER},
      </if>
      <if test="area3 != null">
        #{area3,jdbcType=INTEGER},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsPersonPo">
    update politics_person
    <set>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="miniCnName != null">
        mini_cn_name = #{miniCnName,jdbcType=VARCHAR},
      </if>
      <if test="miniEnName != null">
        mini_en_name = #{miniEnName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null">
        level_id = #{levelId,jdbcType=INTEGER},
      </if>
      <if test="partygroupId != null">
        partygroup_id = #{partygroupId,jdbcType=INTEGER},
      </if>
      <if test="resume != null">
        resume = #{resume,jdbcType=VARCHAR},
      </if>
      <if test="area1 != null">
        area1 = #{area1,jdbcType=INTEGER},
      </if>
      <if test="area2 != null">
        area2 = #{area2,jdbcType=INTEGER},
      </if>
      <if test="area3 != null">
        area3 = #{area3,jdbcType=INTEGER},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsPersonPo">
    update politics_person
    set cn_name = #{cnName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      mini_cn_name = #{miniCnName,jdbcType=VARCHAR},
      mini_en_name = #{miniEnName,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=INTEGER},
      level_id = #{levelId,jdbcType=INTEGER},
      partygroup_id = #{partygroupId,jdbcType=INTEGER},
      resume = #{resume,jdbcType=VARCHAR},
      area1 = #{area1,jdbcType=INTEGER},
      area2 = #{area2,jdbcType=INTEGER},
      area3 = #{area3,jdbcType=INTEGER},
      keyword = #{keyword,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>