<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuchen.bigdate.rs.service.event.dao.PoliticsPersonPositionDao">
  <resultMap id="BaseResultMap" type="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsPersonPositionPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, person_id, position_id, start_date, end_date, deleted, operator, insert_time, 
    update_time
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update politics_person_position
    set
    deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deletedByPersonId" parameterType="java.lang.Integer">
    update politics_person_position
    set
    deleted = 1
    where person_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.po.PoliticsPersonPositionPo">
    insert into politics_person_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectPoByVo" parameterType="cn.yuchen.bigdate.rs.service.event.pojo.vo.PoliticsPersonPositionVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from politics_person_position
    where
    person_id = #{personId,jdbcType=VARCHAR}
    and
    position_id = #{positionId,jdbcType=VARCHAR}
  </select>

</mapper>