<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuchen.bigdate.rs.model.dao.ModelMethodDao">
  <resultMap id="BaseResultMap" type="cn.yuchen.bigdate.rs.model.pojo.po.ModelMethodPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="model_id" jdbcType="BIGINT" property="modelId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="script" jdbcType="VARCHAR" property="script" />
    <result column="display" jdbcType="VARCHAR" property="display" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="PageResultMap" type="cn.yuchen.bigdate.rs.model.pojo.vo.ModelMethodVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="model_id" jdbcType="BIGINT" property="modelId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="script" jdbcType="VARCHAR" property="script" />
    <result column="display" jdbcType="VARCHAR" property="display" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, model_id, `name`, script,display, deleted, operator, insert_time, update_time
  </sql>

  <select id="selectByPage" parameterType="cn.yuchen.bigdate.rs.model.pojo.webvo.ModelPageVo" resultMap="PageResultMap">
    select 
    <include refid="Base_Column_List" />
    from model_method
    <where>
      deleted = 0
      AND
      model_id = #{modelId}
      <if test="name != null">
        AND `name` LIKE CONCAT('%',#{name},'%')
      </if>
      <if test="script !=null and operatedBy != ''">
        AND script LIKE CONCAT('%',#{script},'%')
      </if>
    </where>
  </select>


  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from model_method
    where id = #{id,jdbcType=BIGINT}
    and deleted = 0
  </select>


  <delete id="delete" parameterType="java.lang.Long">
    update model_method
    set deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="cn.yuchen.bigdate.rs.model.pojo.po.ModelMethodPo">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO model_method (model_id, `name`, script,operator)
    VALUES (
    #{modelId,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{script,jdbcType=VARCHAR},
    #{operator,jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterType="cn.yuchen.bigdate.rs.model.pojo.po.ModelMethodPo">
    update model_method
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="script != null">
        script = #{script,jdbcType=VARCHAR},
      </if>
      <if test="display != null">
        display = #{display,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where
    id = #{id,jdbcType=BIGINT}
    and
    deleted = 0
  </update>

</mapper>