<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuchen.bigdate.rs.service.model.dao.ModelMethodDao">
  <resultMap id="BaseResultMap" type="cn.yuchen.bigdate.rs.service.model.pojo.po.ModelMethodPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="model_id" jdbcType="BIGINT" property="modelId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="script" jdbcType="VARCHAR" property="script" />
    <result column="display" jdbcType="VARCHAR" property="display" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="PageResultMap" type="cn.yuchen.bigdate.rs.service.model.pojo.vo.ModelMethodVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="model_id" jdbcType="BIGINT" property="modelId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="script" jdbcType="VARCHAR" property="script" />
    <result column="display" jdbcType="VARCHAR" property="display" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="MPResultMap" type="cn.yuchen.bigdate.rs.service.model.pojo.webvo.ModelMethodParameterVo">
    <result column="method_id" jdbcType="BIGINT" property="methodId" />
    <result column="model_id" jdbcType="BIGINT" property="modelId" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="method_script" jdbcType="VARCHAR" property="methodScript" />
    <result column="parameter_id" jdbcType="BIGINT" property="parameterId" />
    <result column="display" jdbcType="INTEGER" property="display" />
    <result column="x_id" jdbcType="BIGINT" property="xId" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="parameter_script" jdbcType="VARCHAR" property="parameterScript" />
    <result column="parameter_category" jdbcType="VARCHAR" property="parameterCategory" />
    <result column="owerid" jdbcType="BIGINT" property="owerid" />
  </resultMap>
  <!--m.id as method_id , m.model_id as model_id, m.name as method_name ,m.script as method_script ,-->
  <!--p.id as parameter_id ,p.x_id as x_id,p.name as parameter_name ,p.script as parameter_script ,p.category as parameter_category ,p.owerid as owerid-->
  <sql id="Base_Column_List">
    id, model_id, `name`, script,display, deleted, operator, insert_time, update_time
  </sql>

  <select id="selectByPage" parameterType="cn.yuchen.bigdate.rs.service.model.pojo.webvo.ModelPageVo" resultMap="PageResultMap">
    select 
    <include refid="Base_Column_List" />
    from model_method
    <where>
      deleted = 0
      AND
      model_id = #{modelId}
      <if test="name != null and name!=''">
        AND `name` LIKE CONCAT('%',#{name},'%')
      </if>
      <if test="script !=null and script != ''">
        AND script LIKE CONCAT('%',#{script},'%')
      </if>
    </where>
  </select>


  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from model_method
    where id = #{id,jdbcType=BIGINT}
    and deleted = 0
  </select>


  <delete id="delete" parameterType="java.lang.Long">
    update model_method
    set deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="cn.yuchen.bigdate.rs.service.model.pojo.po.ModelMethodPo">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO model_method (model_id, `name`, script,operator)
    VALUES (
    #{modelId,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{script,jdbcType=VARCHAR},
    #{operator,jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterType="cn.yuchen.bigdate.rs.service.model.pojo.po.ModelMethodPo">
    update model_method
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="script != null">
        script = #{script,jdbcType=VARCHAR},
      </if>
      <if test="display != null">
        display = #{display,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where
    id = #{id,jdbcType=BIGINT}
    and
    deleted = 0
  </update>

  <select id="selectMethodParameter" parameterType="cn.yuchen.bigdate.rs.service.model.pojo.webvo.ModelPageVo" resultMap="MPResultMap">
    select
    m.id as method_id , m.model_id as model_id, m.`name` as method_name ,m.script as method_script , m.display as display ,
    p.id as parameter_id ,p.x_id as x_id,p.name as parameter_name ,p.script as parameter_script ,p.category as parameter_category ,p.owerid as owerid
    from model_method as m ,model_parameter as p
    <where>
      m.deleted = 0
      AND
      m.model_id = #{modelId}
      AND
      p.method_id = m.id
      <if test="name != null and name != '' ">
        AND m.name LIKE CONCAT('%',#{name},'%')
      </if>
      <if test="script !=null and script != ''">
        AND m.script LIKE CONCAT('%',#{script},'%')
      </if>
      <if test="script !=null">
        AND m.display = #{display}
      </if>
    </where>
  </select>

  <select id="selectMethodParameterById" parameterType="java.lang.Long" resultMap="MPResultMap">
    select
    m.id as method_id , m.model_id as model_id, m.`name` as method_name ,m.script as method_script , m.display as display ,
    p.id as parameter_id ,p.x_id as x_id,p.name as parameter_name ,p.script as parameter_script ,p.category as parameter_category ,p.owerid as owerid
    from model_method as m ,model_parameter as p
    where
    m.deleted = 0
    AND
    m.id = #{id}
    AND
    p.method_id = m.id
    limit 0,1
  </select>
</mapper>