<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuchen.bigdate.rs.service.model.dao.ModelParameterDao">

  <resultMap id="BaseResultMap" type="cn.yuchen.bigdate.rs.service.model.pojo.po.ModelParameterPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="method_id" jdbcType="BIGINT" property="methodId" />
    <result column="x_id" jdbcType="BIGINT" property="xId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="script" jdbcType="VARCHAR" property="script" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="owerid" jdbcType="BIGINT" property="owerid" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, method_id, x_id, `name`, script, category, owerid, deleted, operator, insert_time,
    update_time
  </sql>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from model_parameter
    where id = #{id,jdbcType=BIGINT}
    and deleted = 0
  </select>

  <delete id="delete" parameterType="java.lang.Long">
    update model_parameter
    set deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </delete>


  <insert id="insert" parameterType="cn.yuchen.bigdate.rs.service.model.pojo.po.ModelParameterPo">
    insert into model_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="methodId != null">
        method_id,
      </if>
      <if test="xId != null">
        x_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="script != null">
        script,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="owerid != null">
        owerid,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="methodId != null">
        #{methodId,jdbcType=BIGINT},
      </if>
      <if test="xId != null">
        #{xId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="script != null">
        #{script,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="owerid != null">
        #{owerid,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="cn.yuchen.bigdate.rs.service.model.pojo.po.ModelParameterPo">
    update model_parameter
    <set>
      <if test="methodId != null">
        method_id = #{methodId,jdbcType=BIGINT},
      </if>
      <if test="xId != null">
        x_id = #{xId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="script != null">
        script = #{script,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="owerid != null">
        owerid = #{owerid,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
    and deleted = 0
  </update>

</mapper>